.footer-paragraph{
    text-align: center;
    color: white;
    margin-bottom: 30px;
}
.footer-paragraphs{
    border-bottom: 1px solid #00ff95;
    margin: 0px 60px 0px 60px;
    margin-bottom: 20px;
}
.bottom-navigations{
    display: flex;
    justify-content: center;
    gap: 40px;
    color: #00ff95;
    margin-bottom: 40px;
}
.bottom-navigation a{
    text-decoration: none;
    color: #00ff95;
    transition: 0.3s all ease-in-out;
    
}
.bottom-navigation a:hover{
    padding: 10px 12px;
    border-radius: 8px;
    transform: translateY(-3px);
    background-color: #527e6c;
    opacity: 40%;
}
.copyright{
    text-align: center;
    margin-bottom: 40px;
    font-size: 14px;
}