body{
    background-color: black;
}
header{
    height: 80vh;
}
.hero-image img{
    width: 400px;
    height: 400px;
    border-radius: 100%;
}
.hero-image{
    margin-right: 50px;
    margin-top: 100px;
    display: flex;
    justify-content: right;
}